
:root {
    --h1: #ffffff;
    --h2: #18b5d9;
    --texto: #ffffff;
    --menu: #ffffff;
    --preto: #000000;
    --corpo: #000000;
    --branco: #ffffff;
    --azulCiano: #18b5d9;
    --cubos: #272a59fa;
    --footer: #0306296b;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}
* {
    font-family: var(--fonte-padrao);
    box-sizing: border-box;
    color: var(--texto);
    padding: 0;
    margin: 0;
}
html {
    background-color: rgb(30, 1, 56);
}
body {
    margin: auto;
    display: block;
    max-width: 1800px;
    /*
    border-left: 2px solid var(--branco);
    border-right: 2px solid var(--branco);
    */
    background-color: var(--corpo);
}
a {
    text-decoration: none;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1800px;
    height: 80px;
    padding: 3px;
    border-bottom: 1px solid var(--branco);
}
header menu {
    display: flex;
}
header  menu  li {
    display: flex;
    align-items: flex-end;
    list-style-type: none;
    text-decoration: none;
    height: 80px;
}
header  menu  a {
    display: inline-flex;
    text-decoration: none;
    box-sizing: border-box;
    justify-content: center;
    width: 150px;
    height:55px;
    margin-right: 40px;
    padding: 10px 10px 0px 10px;

}
header  menu  a:hover {
    border-bottom: 4px solid var(--branco);
}
main {
    max-width: 1800px;
}
h2 {
    color: var(--h2);
    font-size: 2em;
    margin: 0px 10px 0px 10px; 
}
p {
    line-height: 25px;
}
footer {
    background-color: var(--footer);
    border-top: 2px solid var(--branco);
}
footer img#logoFooter {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    height: 100px;
    margin-bottom: 100px;
}
footer p {
    display: block;
    text-align: center;
    margin: auto;
    padding-bottom: 70px;
    max-width: 800px;

    
}


/*                                                                  Classes*/

.aEsquerda {
    text-align: right;
}
.divisoesParagrafoRetratil {
    display: block;
    border-bottom: 1px solid var(--azulCiano);
    /*border-top: 1px solid var(--azulCiano);*/
}
.paragrafoRetratil {
    text-align: justify;
    margin: auto;
    width: 900px;
    max-width: 95%;

    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.9s ease;
}
.paragrafoRetratil.expandir {
    max-height: 400px; /* Ajuste a altura máxima conforme necessário */
}
.setaParagrafoRetratil {
    cursor: pointer;
    margin: auto;
    padding: 5px 25px 5px 25px;
}
.setaParaCima {
    transform: rotate(180deg);
}
.cubos {
    display: grid;
    align-items: center;
    border: 3px solid var(--cubos);
    padding: 5px;
    height: 250px;

    min-width: 150px;
    width: 40vw;
    max-width: 400px;


    border-radius: 20px;
    margin-bottom: 15px;
}
.cubos h6 {
    text-align: center;
    font-size: 2em;
}
.cubos p {
    align-self: flex-end;
    font-size: 1.3em;
}

/*                                                                  Id's*/

#secaoImagens {
    display: flex;
    align-items: center;
    border-right: 1px solid var(--branco);
    padding-right: 20px;
}
#logoHeader {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}
#legendaHeader {
    width: 150px;
    height: 25px;
}
#botaoFaleConosco {
    display: block;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid var(--azulCiano);
    color: var(--azulCiano);
    height: 60px;
    width: 150px;
    font-weight: 600;
    border-radius: 15px;
    padding: 20px 10px;
    margin-right: 30px;
}
#botaoFaleConosco:hover{
    border: 2px solid var(--azulCiano);
}
#primeiraTela {
    width: 100%;
    height: 560px;

    background: black url(../imagens/tela\ fundo.jpg) no-repeat fixed;
    background-size: cover;
    background-position: right center;
}
#sobreFundo {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 560px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0),black);
}
#artigoPrimeiraTela {
    display: flow;
    width: 40%;
    height: 560px;
}
#artigoPrimeiraTela h1 {
    margin-top: 20%;
    margin-bottom: 20px;
    font-size: 4em;
    margin-right: 30px;
}
#artigoPrimeiraTela p {
    line-height: 35px;
    font-size: 1.3em;
}
#secaoParagrafoRetratil h2 {
    font-size: 2.7em;
    margin-top: 30px;
    margin-bottom: 30px;
}
#secaoParagrafoRetratil div {
    display: flex;
}
#secaoTempo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
#imagemSecaoTempo {
    margin: auto;
    height: 300px;
}
#secaoTempo article {
    max-width: 600px;
}
#secaoTempo h2 {
    font-size: 3em;
    margin-left: 0px;
    margin-bottom: 30px;
}
#secaoCustos h2 {
    text-align: center;
    font-size: 2.5em;
    margin-left: 0px;
    margin-bottom: 30px;
}
#secaoCustos p {
    text-align: center;
    text-align: center;
    margin-bottom: 15px;
    padding: 4px;
}
#secaoCustos > p {
    padding: 0px;
    margin-bottom: 40px;
}

#espacoCubos {
    display: grid;
    justify-items: center;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    max-width: 900px;
}
#secaoManutencao h2 {
    text-align: center;
}
#secaoManutencao article {
    display: flex;
    margin-top: 30px;
    align-items: center;
}
#secaoManutencao img {
    width: 35vw;
    margin-right: 10vw;
}
#secaoManutencao p {
    margin-right: 5vw;
}


/*                                                  Outros  */
#divisaoUm {
    border-top: 2px solid rgba(255, 255, 255, 0.61);
    height: 160px;
}
#divisaoDois {
    height: 160px;
}
#divisaoTres {
    height: 200px;
}
#divisaoQuatro {
    height: 160px;
}
#divisaoCinco {
    height: 160px;
}
.soMobile {
    display: none;
}